<html>
    <head>
        <!-- Plotly.js -->

        <title>Plots</title>
        <script src="../javascripts/ploty.js"></script>
        <script src="../javascripts/jquery.min.js"></script>
        <link rel="stylesheet" href="../stylesheets/style.css">
    </head>

    <body>
        <header>
            <h2>Plots</h2>
        </header>
        <div id="plot1" class="plot"><!-- Plotly chart will be drawn inside this DIV --></div>
        <div id="plot2" class="plot"><!-- Plotly chart will be drawn inside this DIV --></div>

        <div id="plot3" class="plot"><!-- Plotly chart will be drawn inside this DIV --></div>
        <div id="plot4" class="plot"><!-- Plotly chart will be drawn inside this DIV --></div>
    </body>
    <script>
        var tweetsAmount = [];
        var eventsY = [];
        var eventsX = [];
        var eventsKeys = [];
        var eventsYFinaly = [];
        var posesY = [];
        var compsY = [];
        var neusY = [];
        var minutes = [];
        var negsY = [];
        var minutesArray = [];
        var classedTweets = [];
        var events = [];

        $(document).ready(function() {
            getPlot();
        });

        function getPlot() {
            var matchId = 2;
            var keyword = "goal";
            $.ajax({
                url:"http://localhost:3000/plots/",
                method:"POST",
                data:{"matchId":matchId,"keyword":keyword},
                dataType:"json",
                success:function(res){
                    doAnalysis(res);
                }
            });
        }

        function doAnalysis(data){
            console.log(data);
            minutes = data["classedTweets"].length;
            posesY = data["poses"];
            negsY = data["negs"];
            compsY = data["comps"];
            neusY = data["neus"];
            minutesArray = [];
            classedTweets = data["classedTweets"];
            events = data["events"];
            console.log("minutes" + minutes);
            for(var m = 1 ; m < minutes ; m ++){
                eventsY.push({"keyNames":[],"amount":0});
                if(m === minutes -1){
                    for (var x = 0 ; x < classedTweets.length ; x++) {
                        tweetsAmount.push(classedTweets[x].length);
                        minutesArray.push(x);
                        negsY[x] = (-1*negsY[x]);
                        if(x === classedTweets.length -1){
                            console.log(eventsY.length);
                            for (var y = 0 ; y < events.length ; y ++) {
                                if(events[y].relativeTime !== null && events[y].relativeTime !== "" && events[y].relativeTime !== undefined)
                                {
                                    console.log(y+" --- "+events[y].relativeTime-1);
                                    console.log(eventsY[events[y].relativeTime-1]);
                                    console.log(events[y].relativeTime -1);
                                    if(eventsY[events[y].relativeTime -1])
                                        eventsY[events[y].relativeTime -1].amount += 1 ; // each 100 is 1 event
                                    if(eventsY[events[y].relativeTime -1]) {
                                        eventsY[events[y].relativeTime -1].keyNames.push(events[y]["eventKey"]);
                                        console.log(eventsY[events[y].relativeTime -1].keyNames);
                                    }
                                }
                                if(y === events.length -1){
                                    for (var z = 0 ; z < eventsY.length; z++) {
                                        if (eventsY[z].amount > 0) {
                                            eventsYFinaly.push(eventsY[z].amount * 10);
                                            console.log(z, " ---) " + eventsY[z].amount + " events  --- > " + eventsY[z].keyNames);
                                            eventsX.push(z);
                                        }
                                        if(z === eventsY.length -1){
                                            drawPlot();
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }

        }

        function drawPlot(){
            var element1 = document.getElementById('plot1');
            var element2 = document.getElementById('plot2');
            var element3 = document.getElementById('plot3');
            var element4 = document.getElementById('plot4');

            Plotly.plot(element1, [{
                    x: minutesArray,
                    y: tweetsAmount,

                    type: "bar",
                }],

                {
                    line: {color: '#555'},
                    margin: {t: 0}
                });
            Plotly.plot(element1, [{
                    x: eventsX,
                    y: eventsYFinaly,
                    type: "bar"
                }],
                {
                    line: {color: 'red'},
                    margin: {t: 0}
                });
            Plotly.plot(element2, [{
                    x: minutesArray,
                    y: posesY,

                    type: "bar"
                }],
                {
                    line: {color: 'green'},
                    margin: {t: 0}
                });
            Plotly.plot(element2, [{
                    x: minutesArray,
                    y: negsY,

                    type: "bar"
                }],
                {
                    line: {color: 'blue'},
                    margin: {t: 0}
                });
            Plotly.plot(element3, [{
                    x: minutesArray,
                    y: neusY,

                    type: "bar"
                }],
                {
                    line: {color: 'blue'},
                    margin: {t: 0}
                });

            Plotly.plot(element4, [{
                    x: minutesArray,
                    y: compsY,

                    type: "bar"
                }],
                {
                    line: {color: 'green'},
                    margin: {t: 0}
                });


        }


    </script>
</html>